@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Lora:wght@700&family=Ms+Madi&family=Paytone+One&family=Raleway:ital,wght@0,500;1,300&family=Rubik+Vinyl&family=Sacramento&family=Space+Mono&display=swap');

.calcbox {
    width: 20rem;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.26);
}

h2 {
    text-align: center;
    font-family: 'Space Mono', monospace;
    color: #ffc107;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.btn {
    width: 2.5rem;
    margin-top: 4%;
    transition: .6s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}
.btn0{
    width: 100px;
}